<script src="../controller/boardDetailController.js"></script>

<h1 id="BOARD_NO"></h1>
<form name="form1">
    <table border="1" style="width:600px" >
        <tbody name="board_detail" id="board_detail">
            <!-- <tr>
                <td>작성자</td>
                <input type="text" class="form-control" id="title" placeholder="Enter Song Name" name="title">
                <td><%=row.BRDWRITER%></td>
            </tr>
            <tr>
                <td>제목</td>
                <td><%=row.BRDTITLE%></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><%=row.BRMEMO%></td>
            </tr> -->
        </tbody>
    </table>
</form>