<script src="../controller/boardController.js"></script>    
<script src="../controller/modalCommon.js"></script>  

<p><button type="button" name="write" id="write">글쓰기</button></p>

<div class="row" style = "padding: 0px 0px 0px 30px;"></div>
    <table id="table1" class="table">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>등록일</th>
            </tr>
        </thead>
        <tbody name="board_list" id="board_list">
        </tbody>
    </table>
</div>