<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BORDER</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>게시자</th>

                <th>날짜</th>
                <th>조회수</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>길</td>
                <td>ms</td>
                <td>2019.06.04</td>
                <td>100</td>
            </tr>
        </tbody>
    </table>

<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="js/bootstrap.js"></script> 
</body>
</html>