<script src="../controller/ccmController.js"></script>
<script src="../controller/modalCommon.js"></script>    

<div class="row" style = "padding: 0px 0px 0px 30px;">
    <table id="example-table-1"  class="table table-bordered table-hover text-center">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>게시자</th>

                <th>날짜</th>
                <th>조회수</th>
            </tr>
        </thead>
        <tbody id = "ccmlist">
            <!-- APPEND되어 여기에 목록조회 -->
        </tbody>
    </table>
    <div class="col-lg-12" id="ex1_Result1" ></div> 
    <div class="col-lg-12" id="ex1_Result2" ></div> 
    <p><button type="button" id="regCcm">등록하기</button></p>
</div>


<script>

   
</script>