<script src="../controller/ccmDetailController.js"></script>

<h1>상세보기</h1>
<div> 
        <p>아이디 : <input type="text" name="user_id" id="user_id" placeholder="아이디"><button type="button" id="dupleCheck">중복체크</button></p>
        <input type="hidden" id="checked" value="false">
        <p>비밀번호 : <input type="password" name="user_pw" id="user_pw" placeholder="비밀번호"></p>
        <p>이름 : <input type="text" name="user_name" placeholder="이름"></p>
        <p>학교 : 
            <select name="loc_num" id="loc_num">
                <option value="">--</option>
            </select>
            <select name="sn_code" id="sn_code">
                <option value="">--</option>
            </select>
        </p>
        <p>학번 : <input type="text" name="user_hak" id="user_hak" placeholder="ex) 19"></p>
        <p><button type="button" id="joinSubmitBtn">가입하기</button></p>
</div>