
    <table border="1" style="width:600px">
        <tbody>
            <tr>
                <td>작성자</td>
                <td><%=row.BRDWRITER%></td>
            </tr>
            <tr>
                <td>제목</td>
                <td><%=row.BRDTITLE%></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><%=row.BRMEMO%></td>
            </tr>
        </tbody>
    </table>
    <a href="#" onclick="history.back(-1)">돌아가기</a>
    <a href="#/delete?brdno=<%=row.BRDNO%>">삭제</a>
    <a href="#/form?brdno=<%=row.BRDNO%>">수정</a>
