<script src="../controller/sc2019Controller.js"></script>

<div>
    <div style="position:relative;height:0;padding-bottom:56.25%;">
        <iframe src="https://www.youtube.com/embed/MeMGYdfhrbU?autoplay=1" style="position:absolute;width:100%;height:100%;left:0" frameborder="0" allow="accelerometer; autoplay; encrypted-media;" allowfullscreen></iframe>
    </div>
    <div style="text-align: center">
        <input type="hidden" name="conf_num" id="conf_num" value="1">
        <button type="button" id="appliBtn">신청하기</button>
    </div>
</div>